<div class="row mx-5 d-flex align-items-center">
    <a class="mx-3 link" [routerLink]="['/question']" [queryParams]="{categoryId:category,questionId:question.id}">
        {{question.question}}
    </a>
</div>
<div class="row mx-5 my-1">
    <span class="icon ml-3 mr-4"><fa-icon [icon]="faThumbsUp" (click)="likeQuestion()"></fa-icon> {{question.likeCount}}</span>
    <span class="icon mr-4"><fa-icon [icon]="faThumbsDown" (click)="dislikeQuestion()"></fa-icon> {{question.dislikeCount}}</span>
    <fa-icon [icon]="faTrashAlt" class="icon mr-4" (click)="deleteQuestion()"></fa-icon>{{question.answers.length}} Answers
</div>
<hr *ngIf="!lastChild" class="mx-5">