.font-size-lg {
    font-size: var(--font-size-lg);
}

.font-size-md {
    font-size: var(--font-size-md);
}

.category-description {
    font-size: var(--font-size-md);
}

.category-tag {
    background-color: var(--gray);
    border-radius: 15px;
}