<h4 class="mx-5 mt-4 font-weight-bold">{{ question.text }}</h4>
<button class="btn btn-action mx-5 mb-5" type="button" (click)="openAddAnswerModal()">
  New Answer
</button>
<div *ngFor="let answer of question.answers; let lastChild = last">
    <div class="row mx-5 d-flex align-items-center">
        <div class="mx-3">
            {{ answer.text }}
        </div>
    </div>
    <div class="row mx-5 my-1">
        <span class="icon ml-3 mr-4"><fa-icon class="pointer-cursor" [icon]="faThumbsUp" (click)="likeAnswer(answer)"></fa-icon>
      {{ answer.likeCount }}</span
    >
    <span class="icon mr-4"
      ><fa-icon class="pointer-cursor" [icon]="faThumbsDown" (click)="dislikeAnswer(answer)"></fa-icon>
      {{ answer.dislikeCount }}</span
    >
    <fa-icon
      [icon]="faTrashAlt"
      class="icon mr-4 pointer-cursor"
      (click)="deleteAnswer(answer.id)"
    ></fa-icon>
    <fa-icon
      [icon]="faPen"
      class="icon mr-4 pointer-cursor"
      (click)="openEditAnswerModal(answer)"
    ></fa-icon>
  </div>
  <hr *ngIf="!lastChild" class="mx-5" />
</div>
<app-modal
  [title]="modalTitle"
  [submitButtonLabel]="modalButtonLabel"
  [data]="modalData"
  [isModalOpened]="isModalOpened"
  (submitAddModal)="submitAddAnswerModal($event)"
  (submitEditModal)="submitEditAnswerModal($event)"
  (closeModal)="closeModal()"
></app-modal>