<div class="row mx-5 d-flex align-items-center">
    <div class="mx-3">
        {{ answer.answer }}
    </div>
</div>
<div class="row mx-5 my-1">
    <span class="icon ml-3 mr-4"><fa-icon [icon]="faThumbsUp" (click)="likeAnswer()"></fa-icon>
      {{ answer.likeCount }}</span
    >
    <span class="icon mr-4"
      ><fa-icon [icon]="faThumbsDown" (click)="dislikeAnswer()"></fa-icon>
      {{ answer.dislikeCount }}</span
    >
    <fa-icon
      [icon]="faTrashAlt"
      class="icon mr-4"
      (click)="deleteAnswer()"
    ></fa-icon>
    <fa-icon
      [icon]="faPen"
      class="icon mr-4"
      (click)="openFormModal()"
    ></fa-icon>
  </div>
  <hr *ngIf="!lastChild" class="mx-5" />