ng-form {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-container {
    background-color: var(--white);
    margin: auto;
    position: relative;
    text-align: center;
    width: 30%;
    transform: translate(0, 70%);
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.textarea:focus {
    outline: none;
    border: 1px solid var(--blue);
    box-shadow: 0 0 3px var(--blue);
}

@media (max-width: 480px) {
    .modal-container {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .modal-container {
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .modal-container {
        width: 40%;
    }
}