<ng-form *ngIf="isModalOpened" id="modal-form" class="w-100 h-100" (click)="checkClickOutside($event)">
    <div class="modal-container rounded-lg">
        <div class="modal-header pb-0 text-center">
            <h4 class="modal-title w-100 font-weight-light text-uppercase">
                {{ title }}
            </h4>
        </div>
        <div class="modal-body container pt-1 justify-content-center">
            <div class="row mx-3">
                <textarea type="text" name="textarea" id="textarea" class="textarea col-12 mt-0 rounded-lg" rows="3" [(ngModel)]="text">
                    {{ text }} 
                </textarea>
            </div>
        </div>
        <div class="modal-footer container mt-2 pb-4 justify-content-center">
            <div class="row w-100 pr-0">
                <div class="col-6">
                    <button type="button" class="btn btn-action w-100" (click)="submitModal()">{{ buttonText }}</button>
                </div>
                <div class="col-6 pl-0">
                    <button type="button" class="btn btn-cancel w-100" (click)="closeFormModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-form>